<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">
  <head>
    {{ block "title" . }}
      <title>
        {{ if .IsHome }}{{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} —
        {{ . }}{{ end }}{{ else }}{{ .Title }} ::
        {{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} — {{ . }}{{ end }}{{ end }}
      </title>
    {{ end }}
    {{ partial "head.html" . }}
  </head>
  <body class="{{ if ne $.Site.Params.defaultTheme "light" -}} dark-theme {{- end -}}">
    <div class="container">
      {{ partial "header.html" . }}
      <div class="content">
        <main>
        <section class="resume-section p-3 p-lg-5 d-flex flex-column">
          <div class="my-auto" >
            <form action="{{ "buscar" | absURL }}">
              <input id="search-query" name="s"/>
            </form>
            <div id="search-results">
             <h3>Páginas</h3>
            </div>
          </div>
        </section>
        <!-- this template is sucked in by search.js and appended to the search-results div above. So editing here will adjust style -->
        <script id="search-result-template" type="text/x-js-template">
            <div id="summary-${key}">
              <h4><a href="${link}">${title}</a></h4>
              <p>${snippet}</p>
              ${ isset tags }<p>Tags: ${tags}</p>${ end }
              ${ isset categories }<p>Categories: ${categories}</p>${ end }
            </div>
        </script>
      </main>
      </div>

      {{ block "footer" . }}
        {{ partial "footer.html" . }}
      {{ end }}
    </div>

    {{ if $.Site.GoogleAnalytics }}
      {{ template "_internal/google_analytics.html" . }}
    {{ end }}
  </body>
</html>
